<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VigilaThor Inicio</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{% static 'core/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'core/css/stylish-portfolio.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Inicio</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">Visulización en tiempo real</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">Servicios</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Ruta de Dron</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="../">Cerrar sesión</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1"><p style="color:#ffffff";>VigilaThor</p></h1>
        <h3 class="mb-5">
          <em <p style="color:#ffffff";>La mejor herramienta de seguridad</p></em>
        </h3>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- About -->
    <section class="content-section bg-light" id="about">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1>Tu red de Drones en tiempo real</h1>
            <iframe width="550" height="475"
              src="https://www.youtube.com/embed/P9tFXVKdL8Y?loop=1&playlist=P9tFXVKdL8Y?&autoplay=1">
            </iframe>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="content-section bg-primary text-white text-center" id="services">
      <div class="container">
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Servicios</h3>
          <h2 class="mb-5">¿Qué ofrecemos?</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-screen-smartphone"></i>
            </span>
            <h4>
              <strong>Página Responsiva</strong>
            </h4>
            <p class="text-faded mb-0">Ve la página en cualquier dispositivo.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-book-open"></i>
            </span>
            <h4>
              <strong>Machine Learning</strong>
            </h4>
            <p class="text-faded mb-0">Seguriadad gracias al aprendizaje de máquina.</p>
          </div>
          <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-location-pin"></i>
            </span>
            <h4>
              <strong>Drones autónomos</strong>
            </h4>
            <p class="text-faded mb-0">Optimiza con Drones que se manejan solos.</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-wrench"></i>
            </span>
            <h4>
              <strong>Mantenimiento</strong>
            </h4>
            <p class="text-faded mb-0">Soluciones y actualizaciones para tu equipo.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="content-section bg-primary text-white">
      <div class="container text-center">
      </div>
    </section>

    <!-- Map -->
    <section id="contact" class="map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29797.529639418266!2d-101.28851867144489!3d21.005011796331516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b76a0916bf827%3A0x7be40da7cdf728a7!2sDCEA!5e0!3m2!1ses-419!2smx!4v1526748535948"></iframe>
      <br/>
      <small>
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29797.529639418266!2d-101.28851867144489!3d21.005011796331516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b76a0916bf827%3A0x7be40da7cdf728a7!2sDCEA!5e0!3m2!1ses-419!2smx!4v1526748535948"></a>
      </small>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">

        <p class="text-muted small mb-0">Copyright &copy; Vigilathor 2018</p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('contact'), {
          zoom: 4,
          center: {lat: 21.04451, lng: -101.269293}  // DCEA
        });

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
          draggable: true,
          map: map,
          panel: document.getElementById('right-panel')
        });

        directionsDisplay.addListener('directions_changed', function() {
          computeTotalDistance(directionsDisplay.getDirections());
        });

        displayRoute('DCEA, GTO', 'Noria alta, GTO', directionsService,
            directionsDisplay);
      }

      function displayRoute(origin, destination, service, display) {
        service.route({
          origin: origin,
          destination: destination,
          waypoints: [{location: 'LOMA DE POZULOS, GTO'}, {location: 'Pueblito de Rocha, GTO'}],
          travelMode: 'WALKING',
          avoidTolls: true
        }, function(response, status) {
          if (status === 'OK') {
            display.setDirections(response);
          } else {
            alert('Could not display directions due to: ' + status);
          }
        });
      }

      function computeTotalDistance(result) {
        var total = 0;
        var myroute = result.routes[0];
        for (var i = 0; i < myroute.legs.length; i++) {
          total += myroute.legs[i].distance.value;
        }
        total = total / 1000;
        document.getElementById('total').innerHTML = total + ' km';
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSAv_NaHmVthVgmunhT73WmsOfDYb-AN0&callback=initMap">
    </script>

    <!-- Custom scripts for this template -->
  <script src="{% static 'core/js/stylish-portfolio.min.js' %}"></script>

  </body>

</html>
